* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(/img/barriles%20color%20para%20fondo.png) !important;
}

.navbar-brand img {
    width: 8vw;
}

.imagen img{
    width: 20vw;
    border-radius: 1.5vw;
}

.titulo {
    font-size: 8vw;
    text-align: center;
}

.cuerpo_titulo {
    background-color: rgba(221, 119, 51, 0.356);
    width: 100vw;
    height: 5vw;
    text-align: center;
}

.titulo_empresa {
    margin: 0vw;
    font-size: 3vw; 
}

.grid {
    display: grid;
    grid-gap: 4vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 3.5vw;
}

.contenedor1 {
    background-color: rgba(148, 110, 28, 0.712);    
    width: 20vw;
    height: 30vw;
    border-radius: 1.6vw;
}

.contenedor1 h3 {
    text-align: center;
}

.contenedor1 p {
    margin: 0.5vw;
    text-align: justify;
    font-size: 0.9vw;
    color: rgb(253, 253, 253);
}

.color_letra {
    color: rgb(22, 21, 21);
    text-decoration: none;
    border-radius: 0.5vw;
    background: rgba(184, 103, 37, 0.733);
}
