* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(/img/barriles%20color%20para%20fondo.png) !important;
}

.navbar-brand img {
    width: 8vw;
}

.imagen img{
    width: 20vw;
    border-radius: 1.5vw;
}

.titulo {
    font-size: 5vw;
    text-align: center;
    background-color: rgba(221, 119, 51, 0.356);
    transition: 2s;
}

.cuerpo_titulo {
    text-align: center;
    background-color: rgba(221, 119, 51, 0.356);
}

.titulo_empresa {
    font-size: 5vw; 
    text-align: center;
    transition: 2s;
}

.grid {
    display: grid;
    grid-gap: 4vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 3.5vw;
}

.contenedor1 {
    background-color: rgba(148, 110, 28, 0.712);    
    width: 20vw;
    height: 30vw;
    border-radius: 1.6vw;
}

.contenedor1 h3 {
    text-align: center;
}

.contenedor1 p {
    margin: 0.5vw;
    text-align: justify;
    font-size: 0.9vw;
    color: rgb(253, 253, 253);
}

.color_letra {
    color: rgb(22, 21, 21);
    text-decoration: none;
    border-radius: 0.5vw;
    background: rgba(184, 103, 37, 0.733);
}

.productos {
    text-align: center;
    margin: 4vw;
    width: 1fr;
}

.productos img {
    width: 20vw;
    height: 20vw;
}

.productos h3 {
    font-size: 1.7em;
    margin-top: 3vw;
    margin-bottom: 2vw;
}

.subtitulo {
    text-align: left;
    margin: 2vw;
    padding: 2vw;
}

.card {
    border-radius: 2vw;
    background-color: white;
    box-shadow: 0 1vw 3vw rgba(0,0,0,0.12), 0 1vw 2vw rgba(0,0,0,0.24);
}

.grid_servicios {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin: 5vw;
    grid-gap: 4vw;
}

.contenedor2 {
    background-color: rgba(148, 110, 28, 0.712);    
    width: 90vw;
    height: 30vw;
    border-radius: 1.6vw;
}

.contenedor2 h3 {
    text-align: center;
}

.contenedor2 p {
    margin: 0.5vw;
    text-align: justify;
    font-size: 2vw;
    color: rgb(11, 11, 11);
}

.header {
    color: #bd6d34;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #bd6d34;;
}



