* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, html {
    background-color: rgb(255, 255, 255);
}

.navbar-brand img {
    width: 20vw;
}

.imagen img{
    width: 20vw;
    border-radius: 1.5vw;
}

.titulo {
    font-size: 8vw;
    text-align: center;
}

.grid {
    display: grid;
    grid-gap: 4vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 3.5vw;
}

.contenedor1 {
    background-color: rgba(148, 110, 28, 0.712);    
    width: 20vw;
    height: 30vw;
    border-radius: 1.6vw;
}

.contenedor1 p {
    margin: 0.5vw;
    text-align: justify;
    font-size: 0.9vw;
    color: rgb(226, 214, 214);
}


